In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Loading the data into a dataframe

In [2]:
train_essays=pd.read_csv('train_essays.csv')
train_essays

,id,prompt_id,text,generated
0,0059830c,0,Cars. Cars have been around since they became ...,0
1,005db917,0,Transportation is a large necessity in most co...,0
2,008f63e3,0,"""America's love affair with it's vehicles seem...",0
3,00940276,0,How often do you ride in a car? Do you drive a...,0
4,00c39458,0,Cars are a wonderful thing. They are perhaps o...,0
...,...,...,...,...
1373,fe6ff9a5,1,There has been a fuss about the Elector Colleg...,0
1374,ff669174,0,Limiting car usage has many advantages. Such a...,0
1375,ffa247e0,0,There's a new trend that has been developing f...,0
1376,ffc237e9,0,As we all know cars are a big part of our soci...,0
1377,ffe1ca0d,0,Cars have been around since the 1800's and hav...,0

In [3]:
train_essays[train_essays['generated']==1]

,id,prompt_id,text,generated
704,82131f68,1,"This essay will analyze, discuss and prove one...",1
740,86fe4f18,1,I strongly believe that the Electoral College ...,1
1262,eafb8a56,0,"Limiting car use causes pollution, increases c...",1

adding more ai generated essays for the dataset

In [4]:
ai_essays=pd.read_csv('ai_generated_train_essays.csv')
ai_essays

,id,prompt_id,text,generated
0,d429f032,0,Advantages of Limiting Car Usage \n\nLimiting ...,1
1,1ce279be,0,Advantages of Limiting Car Usage\n\nLimiting c...,1
2,c9595213,0,Limiting car usage has numerous advantages tha...,1
3,f2266d87,0,The passages provided discuss the advantages o...,1
4,eeace4bd,0,Title: The Advantages of Limiting Car Usage\n\...,1
...,...,...,...,...
495,c67009a2,1,"[Your Name]\n[Your Address]\n[City, State, ZIP...",1
496,66e830cc,1,"[Your Name]\n[Your Address]\n[City, State, Zip...",1
497,5d70a380,1,"[Your Name]\n[Your Address]\n[City, State, ZIP...",1
498,9a07aa27,1,"[Your Name]\n[Your Address]\n[City, State, ZIP...",1
499,b79db5b8,1,"[Your Name]\n[Your Address]\n[City, State, ZIP...",1

In [5]:
train_essays=pd.concat([train_essays,ai_essays],ignore_index=True)
train_essays.tail()
train_essays_new=train_essays.drop(columns=['id','prompt_id'])
train_essays_new

                                                   text  generated
0     Cars. Cars have been around since they became ...          0
1     Transportation is a large necessity in most co...          0
2     "America's love affair with it's vehicles seem...          0
3     How often do you ride in a car? Do you drive a...          0
4     Cars are a wonderful thing. They are perhaps o...          0
...                                                 ...        ...
1873  [Your Name]\n[Your Address]\n[City, State, ZIP...          1
1874  [Your Name]\n[Your Address]\n[City, State, Zip...          1
1875  [Your Name]\n[Your Address]\n[City, State, ZIP...          1
1876  [Your Name]\n[Your Address]\n[City, State, ZIP...          1
1877  [Your Name]\n[Your Address]\n[City, State, ZIP...          1

[1878 rows x 2 columns]

# Adding more data from train_drcat_04 dataset from kaggle

In [6]:
essays=pd.read_csv("train_drcat_04.csv")
essays

,essay_id,text,label,source,prompt,fold
0,E897534557AF,"In recent years, technology has had a profoun...",1,mistral7binstruct_v2,\nTask: Write an essay discussing the positive...,1
1,DFBA34FFE11D,Should students participate in an extracurricu...,0,persuade_corpus,NaN,2
2,af37ecf5,The electoral college is a symbol of mockery a...,0,train_essays,NaN,5
3,5EC2696BAD78,This is why I think the principle should allow...,0,persuade_corpus,NaN,8
4,llama_70b_v1843,I strongly believe that meditation and mindful...,1,llama_70b_v1,Some schools have implemented meditation and m...,0
...,...,...,...,...,...,...
44201,F7341069C4A4,"""Oh man I didn't make the soccer team!"", yelle...",0,persuade_corpus,NaN,7
44202,AFE6E553DAC2,I believe that using this technology could be ...,0,persuade_corpus,NaN,8
44203,falcon_180b_v1_600,The Face on Mars is a fascinating phenomenon t...,1,falcon_180b_v1,You have read the article 'Unmasking the Face ...,3
44204,A5F84C104693,Texting & Driving\n\nUsing your phone while dr...,0,persuade_corpus,NaN,1
44205,A148C659E98B,"Dear Principal,\n\nI have been really good thi...",0,persuade_corpus,NaN,4

In [7]:
essays_del=essays.drop(columns=['essay_id','source','prompt','fold'])
essays_del

                                                    text  label
0       In recent years, technology has had a profoun...      1
1      Should students participate in an extracurricu...      0
2      The electoral college is a symbol of mockery a...      0
3      This is why I think the principle should allow...      0
4      I strongly believe that meditation and mindful...      1
...                                                  ...    ...
44201  "Oh man I didn't make the soccer team!", yelle...      0
44202  I believe that using this technology could be ...      0
44203  The Face on Mars is a fascinating phenomenon t...      1
44204  Texting & Driving\n\nUsing your phone while dr...      0
44205  Dear Principal,\n\nI have been really good thi...      0

[44206 rows x 2 columns]

In [8]:
new_columns=['text','generated']
essays_del.columns=new_columns

In [9]:
essays_del
train_essays_new=pd.concat([train_essays_new,essays_del],ignore_index=True)
train_essays_new

                                                    text  generated
0      Cars. Cars have been around since they became ...          0
1      Transportation is a large necessity in most co...          0
2      "America's love affair with it's vehicles seem...          0
3      How often do you ride in a car? Do you drive a...          0
4      Cars are a wonderful thing. They are perhaps o...          0
...                                                  ...        ...
46079  "Oh man I didn't make the soccer team!", yelle...          0
46080  I believe that using this technology could be ...          0
46081  The Face on Mars is a fascinating phenomenon t...          1
46082  Texting & Driving\n\nUsing your phone while dr...          0
46083  Dear Principal,\n\nI have been really good thi...          0

[46084 rows x 2 columns]

In [10]:
train_essays_new.generated.value_counts()

generated
0    31167
1    14917
Name: count, dtype: int64

adding dataset argugpt fully generted by ai from kaggle

In [11]:
ai_new=pd.read_csv("argugpt.csv")
ai_new

,id,prompt_id,prompt,text,model,temperature,exam_type,score,score_level
0,weccl_30,WECCL-17,Some people think the university education is ...,There are many people who think that universit...,text-babbage-001,0.50,weccl,19,high
1,weccl_51,WECCL-17,Some people think the university education is ...,There are a number of reasons why people might...,text-babbage-001,0.65,weccl,13,medium
2,weccl_48,WECCL-17,Some people think the university education is ...,There are many reasons why university educatio...,text-babbage-001,0.65,weccl,13,medium
3,weccl_50,WECCL-17,Some people think the university education is ...,There are many people who think that universit...,text-babbage-001,0.65,weccl,12,low
4,weccl_55,WECCL-17,Some people think the university education is ...,There is a general consensus that university e...,text-babbage-001,0.80,weccl,13,medium
...,...,...,...,...,...,...,...,...,...
4033,gre_514,GRE-603,Only by being forced to defend an idea against...,The notion that one must be forced to defend a...,text-davinci-003,0.80,gre,3,medium
4034,gre_1107,GRE-604,Students should be encouraged to realize that ...,I strongly agree with the statement that menta...,gpt-3.5-turbo,0.80,gre,4,medium
4035,gre_1163,GRE-660,The best preparation for life or a career is n...,"In todayâ€™s world, where competition is highly ...",gpt-3.5-turbo,0.80,gre,6,high
4036,gre_1174,GRE-671,AII nations should help support the developmen...,Education is one of the most powerful tools th...,gpt-3.5-turbo,0.80,gre,5,high
4037,gre_1180,GRE-677,Colleges and universities should require all f...,"As the world is evolving rapidly, the need for...",gpt-3.5-turbo,0.80,gre,5,high

In [12]:
ai_new_del=ai_new[['text']]
ai_new_del['generated']=1
ai_new_del

C:\Users\avunu\AppData\Local\Temp\ipykernel_26472\1624008836.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ai_new_del['generated']=1

                                                   text  generated
0     There are many people who think that universit...          1
1     There are a number of reasons why people might...          1
2     There are many reasons why university educatio...          1
3     There are many people who think that universit...          1
4     There is a general consensus that university e...          1
...                                                 ...        ...
4033  The notion that one must be forced to defend a...          1
4034  I strongly agree with the statement that menta...          1
4035  In todayâ€™s world, where competition is highly ...          1
4036  Education is one of the most powerful tools th...          1
4037  As the world is evolving rapidly, the need for...          1

[4038 rows x 2 columns]

final data set genearated is

In [13]:
final_df=pd.concat([train_essays_new,ai_new_del],ignore_index=True)

In [14]:
final_df.generated.value_counts()

generated
0    31167
1    18955
Name: count, dtype: int64

In [15]:
final_df.isnull().sum()

text         0
generated    0
dtype: int64

Hence, the final datset is created

# Experimenting with logistic regression model

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split


texts = final_df.text 
labels = final_df.generated 


X_train, X_test, y_train, y_test = train_test_split(texts, labels, test_size=0.2, random_state=42)


vectorizer = CountVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)


classifier = LogisticRegression()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

predicted_probabilities = classifier.predict_proba(X_test)[:, 1]


print(predicted_probabilities)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

[6.63215757e-08 3.10923012e-13 2.18619854e-20 ... 5.67218421e-18
 9.99948801e-01 6.22103969e-06]
Accuracy: 0.99

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# # with SVM Model

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(final_df.text, final_df.generated, test_size=0.2, random_state=42)


vectorizer = TfidfVectorizer()
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)


svm_classifier = SVC(kernel='rbf', C=4.0,degree=7,gamma='scale')

svm_classifier.fit(X_train_tfidf, y_train)


y_pred = svm_classifier.predict(X_test_tfidf)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")


print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.99
Classification Report:
              precision    recall  f1-score   support

           0       0.99      1.00      0.99      6213
           1       0.99      0.99      0.99      3812

    accuracy                           0.99     10025
   macro avg       0.99      0.99      0.99     10025
weighted avg       0.99      0.99      0.99     10025

## with SDG Classifier-an optimizational algorithm

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
vectorizer = TfidfVectorizer()

X = final_df.text
X_tfidf = vectorizer.fit_transform(X)


y = final_df.generated

X_train, X_test, y_train, y_test = train_test_split(
    X_tfidf, y, test_size=0.33, random_state=42
)

In [21]:
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import classification_report


clf = SGDClassifier()
clf.fit(X_train, y_train)


y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99     10288
           1       0.99      0.98      0.99      6253

    accuracy                           0.99     16541
   macro avg       0.99      0.99      0.99     16541
weighted avg       0.99      0.99      0.99     16541